<?xml version="1.0" encoding="utf-8"?>
<VPROTask xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <DataLimits>
    <LimitX>3</LimitX>
    <LimitY>4</LimitY>
    <LimitA>15</LimitA>
  </DataLimits>
  <ShowCogRecord>LastRun</ShowCogRecord>
  <CogRecordIndex>0</CogRecordIndex>
  <CamIP>1.1.1.11</CamIP>
  <CommInstanceName>ModbusTCP_BSHLoad</CommInstanceName>
  <LightChannel>1</LightChannel>
  <IsDigitalLightControl>true</IsDigitalLightControl>
  <LightValue>255</LightValue>
  <LightControllerName>RS232MX_BSHLoad</LightControllerName>
  <TaskName>Up_Carrier1</TaskName>
  <ExpRun>10</ExpRun>
  <ExpCalib>8</ExpCalib>
  <ExpNPCalib>8</ExpNPCalib>
  <ExpROCalib>8</ExpROCalib>
  <CalibVppIndex>2</CalibVppIndex>
  <Compt>
    <X>0</X>
    <Y>0</Y>
    <A>0</A>
  </Compt>
  <StandardValue>
    <X>1316.511008</X>
    <Y>943.308078</Y>
    <A>1.736175</A>
  </StandardValue>
  <IsSaveOriImage>true</IsSaveOriImage>
  <IsSaveToolImage>true</IsSaveToolImage>
  <IsSaveData>true</IsSaveData>
  <RoXY>
    <X>0</X>
    <Y>0</Y>
  </RoXY>
</VPROTask>